.checkbox-group-color{
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  margin-block: 1rem 1.75rem;
}

.color-option input[type="checkbox"]{
  border:6px solid var(--shape-button);

  border-radius: 50%;
  width: fit-content;
}
 .color-option input[type="checkbox"]:hover{
  border:6px solid var(--shape-hover);
}
.color-option input[type="checkbox"]:checked{
  border:6px solid var(--shape-button);
  box-shadow: 0 0 0 .125rem var(--brand-light);
}

.checkbox-group-theme {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .5rem;
  margin-bottom: 1.75rem;
}
.theme-option {
  position: relative;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  padding: 4px 4px 8px 4px;
  background-color: var(--shape-button);
}
.theme-option p{
  place-self: center;
  padding-inline: 4px;
  padding-block: 8px;
}
.theme-option img{
  width: 100%;
}
.theme-option input[type="checkbox"]{
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}
